<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Postgres", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   'localhost:3000/static_pages/home' %></li>
        <li><%= link_to "Post",   '#' %></li>
        <li><%= link_to "Register", '' %></li>
        <li><%= link_to "Login", '' %></li>
      
      </ul>
    </nav>
  </div>
</header>